<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore sint saepe facere rerum earum dolores commodi, harum perferendis blanditiis eligendi necessitatibus eveniet suscipit doloremque molestiae eius? Repudiandae atque, sed laudantium iusto explicabo eius eum perspiciatis voluptatibus dignissimos minus dolores quidem at maxime nulla aspernatur deserunt amet vel illo ratione ut!</p>

<%- include("footer") -%>
